{% extends "frontend/_main.html.twig" %}

{% block content %}

    <div class="text-center">
        <i class="fas fa-times fa-3x text-secondary"></i>
        <h4>{{ 'form.maximum_reached.title'|trans }}</h4>
    </div>

    <hr>

    <p class="mb-0">{{ 'form.maximum_reached.message'|trans() }}</p>
{% endblock %}

