{% extends "frontend/_main.html.twig" %}

{% block content %}

    <div class="text-center">
        <i class="fas fa-times fa-3x text-secondary"></i>
        <h4>{{ 'form.too_early.title'|trans }}</h4>
    </div>

    <hr>

    <p>{{ 'form.too_early.message'|trans({ '%date%': start|format_datetime })|raw }}</p>

    <p class="mb-0">{{ 'form.too_early.footer'|trans }}</p>
{% endblock %}
